<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1052232581435-iier25otcospntc8mluki3hdkn613egt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1052232581435-iier25otcospntc8mluki3hdkn613egt</string>
	<key>API_KEY</key>
	<string>AIzaSyBPpAlsyEIb8Gd5-o1jPjakf8XVkJoL5Xc</string>
	<key>GCM_SENDER_ID</key>
	<string>1052232581435</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oscarodon.ChangerFinderDemoApp</string>
	<key>PROJECT_ID</key>
	<string>chargerfinder-9766e</string>
	<key>STORAGE_BUCKET</key>
	<string>chargerfinder-9766e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1052232581435:ios:56d2ee00ed538a92c5f71e</string>
	<key>DATABASE_URL</key>
	<string>https://chargerfinder-9766e.firebaseio.com</string>
</dict>
</plist>